/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.category {
    margin-bottom: 10px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.value {
    margin-left: 10px;
}

.inputForm {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
